*, *::after, *::before {
    box-sizing: border-box;
}

body{
    padding: 1em 0;
    background: hsl(222, 26%, 31%);
    transition: 1s;
}

.top {
    margin: 0 10px 10px 10px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;

}

#calc {
    color:hsl(0, 0%,100%);
    font-size: 50px;
    font-weight: 900;
}

#calc.active {
    color: hsl(0, 0%,100%);
}


#toggle {
    display: flex;
    flex-direction: column;
    position: relative;
}

#toggle::before{
    content: 'THEME';
    position: absolute;
    top: 20px;
    right: 70px;
    font-size: 10px;
    color: hsl(0, 0%,100%);
    font-weight: 900;
}

#numbers {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    color: hsl(0, 0%,100%);
}

#change {
    background-color: hsl(223, 31%, 20%);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 10px;
    position: relative;

}

#theme1, #theme2, #theme3 {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 2px;
    background-color: hsl(223, 31%, 20%);

}


body.active {
    background-color: hsl(268, 75%, 9%);
}

#theme1 {
    background-color: hsl(6, 63%, 50%);
    position: absolute;
    left: 0;
    cursor: pointer;
    transition: 0.5s;
}

#change.active #theme1 {
    left: 20px;    
}

#change.active #theme2, #change.active #theme3{
    background-color: hsl(268, 71%, 12%);
} 

#change.active {
    background-color: hsl(268, 71%, 12%);
}


#output {
    background-color: hsl(224, 36%, 15%);
    margin: 10px 10px 20px 10px;
    padding: 1.5em;
    color: hsl(0, 0%,100%);
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

#output div {
    min-height: 25px;
}

#output.active {
    background-color: hsl(268, 71%, 12%);
}

#l_op {
    margin-bottom: 10px;
}

.cal_grid {
    display: grid;
    justify-content:center;
    align-items: center;  
    padding: 10% 0;
}

#buttons_area {
    display: grid;
    margin: 0 10px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: hsl(223, 31%, 20%);
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

#buttons_area.active {
    background-color: hsl(268, 71%, 12%);
}

#buttons_area.active > button {
    background-color:  hsl(281, 89%, 26%);
    box-shadow: 0 4px 2px  hsl(285, 91%, 52%);
    color: hsl(52, 100%, 62%);
}

#buttons_area.active > button:hover {
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0 4px 2px hsl(35, 11%, 61%);
    color: hsl(60, 10%, 19%);
}

.key {
    cursor: pointer;
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    margin: 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 10%;
    font-size: 32px;
    font-weight: 700;
    box-shadow: 0 4px 2px hsl(28, 16%, 65%);
    border: hsl(30, 25%, 89%);
    
}



button:hover {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 4px 2px hsl(224, 28%, 35%);
    color: hsl(0, 0%,100%);
    transition: 0.5s;
}




#bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: hsl(223, 31%, 20%);
    margin: 0 10px;
    align-items: center;
    padding: 0px 10px;
    border-radius: 0 0 5px 5px;
}

#bottom > button {
    margin: 10px 10px 20px 10px;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    border: hsl(30, 25%, 89%);
    outline: none;
}

#bottom.active {
    background-color: hsl(268, 71%, 12%);
}

#reset {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 4px 2px hsl(224, 28%, 35%);
    color: hsl(0, 0%,100%);
}

#reset.active, #del.active {
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0 4px 2px hsl(290, 70%, 36%);
    color: hsl(0, 0%,100%);
}

#reset.active:hover {
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0 4px 2px hsl(35, 11%, 61%);
    color: hsl(60, 10%, 19%);
}

#reset:hover, #del:hover, #equal:hover {
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    box-shadow: 0 4px 2px hsl(28, 16%, 65%);
}

#del {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 4px 2px hsl(224, 28%, 35%);
    color: hsl(0, 0%,100%);
}


#equal {
    color: hsl(0, 0%,100%);
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 4px 2px hsl(6, 70%, 34%);
}



#equal.active {
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0 4px 2px hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
}

#equal.active:hover {
    background-color:  hsl(281, 89%, 26%);
    box-shadow: 0 4px 2px  hsl(285, 91%, 52%);
    color: hsl(52, 100%, 62%);
}


@media (min-width: 377px)and (max-width: 700px) {
    

    #buttons_area {
        grid-template-columns: repeat(4, 1fr);
    }

    .key {
        margin: 0.5em;
        padding: 0.3em 0.5em;
        font-size: 25px;
    }
}

@media (max-width: 376px){
    .key{
        margin: 25% 10%;
        padding: 20% 5%;
        font-size: 20px;
        font-weight: 700;
    }

    #del {
        font-size: 13px;
    }

    #calc {
        font-size: 40px;
    }

    #buttons_area {
        grid-template-columns: repeat(4, 1fr);
    }

   
}


.attribution { 
    font-size: 11px; text-align: center;
    color: hsl(28, 16%, 65%);
}
.attribution a { color:bisque; }